<p>
  Ce site est un projet collaboratif
  d'annales des examens du brevet des collèges et du baccalauréat.
  Ce n'est pas un site officiel de l'éducation nationale.
</p>

<h2>Contribuer</h2>

<p>
  Le développement du projet a lieu
  <a href="https://gitlab.com/cedricvanrompay/annales-brevet-et-bac">ici</a>
  sur GitLab (similaire à GitHub).
  Vous pouvez créer un compte GitLab (gratuit)
  pour pouvoir contribuer à la copie des sujets
  et la rédaction des corrections,
  ou pour contribuer à la partie technique
  (programmation Python et développement web).
  En revanche vous pouvez parcourir le contenu du projet
  sans avoir de compte GitLab.
</p>

<p>
  Le guide de contribution se trouve ici:
  <a href="https://gitlab.com/cedricvanrompay/annales-brevet-et-bac/blob/master/CONTRIBUTING.md">
    https://gitlab.com/cedricvanrompay/annales-brevet-et-bac/blob/master/CONTRIBUTING.md
  </a>
</p>

<p>
  Le projet est sous license MIT
  (plus d'info sur <a href="https://opensource.org">https://opensource.org</a>),
  et toutes les contributions sont implicitement sous cette license.
  Cela garantit que le contenu puisse être copié/utilisé/modifié/amélioré
  par d'autres personnes et possiblement dans d'autres projets.
</p>

<p>
  Vous pouvez aussi faire un don au mainteneur (Cédric VAN ROMPAY)
  pour soutenir le développement de la plateforme
  et la gestion des contributions:
</p>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="KPHNJURDSJ95Q">
<input type="image" src="https://www.paypalobjects.com/fr_FR/FR/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal, le réflexe sécurité pour payer en ligne">
<img alt="" border="0" src="https://www.paypalobjects.com/fr_FR/i/scr/pixel.gif" width="1" height="1">
</form>
